<h4>carne</h4>
<dl class="dl-horizontal">
  <dt>corte</dt>
  <dd>000 gramas</dd>
</dl>



<hr />
<p><%= @show_me %></p>
<p><%= @show_me %></p>
<p><%= @show_me %></p>
<p><%= @show_me %></p>
<p><%= @show_me %></p>
