<%
day = i

hour_in = rand(7..9)
minute_in = rand(0..59) unless hour_in == 7
minute_in ||= rand(30..59)
start_time_in = Time.new(year,month,day,hour_in,minute_in)
if hour_in == 7
hours_to_lunch = 4.hours
else 
  hours_to_lunch = 3.hours
end
start_time_in_l = start_time_in + hours_to_lunch + (rand(0..30)).minutes
end_time_in_l = start_time_in_l + 1.hours
end_time_in = start_time_in + 9.hours + 48.minutes

if start_time_in.strftime('%w').to_f == 6 %>
  <tr style="background:#eee">
    <td><%= end_time_in.strftime('%d') %></td>
    <td colspan="4" style="text-align:left;">Sábado</td>
  </tr>
<% elsif i > ndays %>
  <tr style="background:#eee">
    <td><%= i %></td>
    <td colspan="4" style="text-align:left;">não nesse mês</td>
  </tr>
<% elsif start_time_in.strftime('%w').to_f == 0 %>
  <tr style="background:#eee">
    <td><%= end_time_in.strftime('%d') %></td>
    <td colspan="4" style="text-align:left;">Domingo</td>
  </tr>
  <% elsif start_time_in.strftime('%F') == holiday_1 || start_time_in.strftime('%F') == holiday_2 %>
  <tr style="background:#eee">
    <td><%= end_time_in.strftime('%d') %></td>
    <td colspan="4" style="text-align:left;">\o/ feriado</td>
  </tr>
<% else %>
  <tr>
    <td><%= end_time_in.strftime('%d') %></td>
    <td class="hour-sign-in"><%= start_time_in.strftime('%H:%M') %></td>
    <td class="hour-sign-out-l"><%= start_time_in_l.strftime('%H:%M') %></td>
    <td class="hour-sign-in-l"><%= end_time_in_l.strftime('%H:%M') %></td>
    <td class="hour-sign-out"><%= end_time_in.strftime('%H:%M') %></td>
  </tr>
<% end %>
