<div class="container">
  <%= render partial: "header" %>

  <%
  year = 2015
  month = 4

  %>

  <p>
    <%= link_to 'janeiro 2015', '#', class: 'btn btn-default' %>
    <%= link_to 'fevereiro 2015', '#', class: 'btn btn-default' %>
    <%= link_to 'março 2015', '#', class: 'btn btn-default' %>
    <%= link_to 'abril 2015', '#', class: 'btn btn-primary' %>
    <%= link_to 'maio 2015', '#', class: 'btn btn-default' %>
    <%= link_to 'junho 2015', '#', class: 'btn btn-default' %>
  </p>

  <%= render partial: "table", locals: { year: year, month: month } %>

</div>
