<% content_for :header do %>
  <%= stylesheet_link_tag 'site' %>
<% end %>

<div class="container">
  <div class="cover">
    <h3 class="title"><strong>blen</strong>box</h3>
    <p>
      <%= link_to t('ux_calculators.title'), ux_calculators_path, class: 'btn btn-default' %>
      <%= link_to t('ab_testing_calculator.title'), chi_square_path, class: 'btn btn-default' %>
      <%= link_to t('fills_time.title'), fills_time_path, class: 'btn btn-default' %>
      <%= link_to t('bbq.title'), bbq_path, class: 'btn btn-default' %>
    </p>
  </div>
  <%= render partial: "layouts/sharebuttons" %>
  <hr />
  <p>sandbox by <a href="//www.rodrigoquaresma.com.br" class="navbar-link">rodrigo quaresma</a></p>
</div>
