<% content_for :header do %>
  <%= stylesheet_link_tag 'site' %>
<% end %>

<div class="container">
  <div class="cover">
    <h3 class="title"><strong>blen</strong>box</h3>
    <p>
      <%= link_to 'ux calculators', ux_calculators_path, class: 'btn btn-default' %>
      <%= link_to 'a/b testing calculator', chi_square_path, class: 'btn btn-default' %>
      <%= link_to 'ajudante folha ponto', fills_time_path, class: 'btn btn-default' %>
    </p>
  </div>
  <%= render partial: "layouts/sharebuttons" %>
  <hr />
  <p>sandbox by <a href="//www.rodrigoquaresma.com.br" class="navbar-link">rodrigo quaresma</a></p>
</div>
