<% content_for :support do %>
  <div class="">
    <hr />
    <p>show_me_the_number: <span><%=@show_me_the_number%></span></p>
    <hr />
    <p>@winner = <%= @winner %></p>
    <p>Degree of freedom <span>1</span></p>
    <p>Conversion rate A: <span><%=@conversion_rate_a%>%</span></p>
    <p>Conversion rate B: <span><%=@conversion_rate_b%>%</span></p>
    <p>Intervalo de confiança: <span><%=@function_confidenceInterval%></span></p>
  </div>
<% end %>
