<h2><%= @message %></h2>
<div class="data-result">
  <div class="row">
    <div class="col-md-4">
      <div class="data-result-group <%= @thewinner_a? 'winner' : 'nowinner' %>">
        <h4 class="data-result-label"><strong>group A</strong> | conversion rate:</h4>
        <div class="row row-gutter-xs">
          <div class="col-xs-4">
            <p class="data-result-value"><%=@conversion_rate_a%>%</p>
          </div>
          <div class="col-xs-8">
            <div class="progress">
              <div class="progress-bar progress-bar-<%= @thewinner_a? 'success' : 'warning' %>" role="progressbar" aria-valuenow="<%=@conversion_rate_a%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@conversion_rate_a%>%">
                <span class="sr-only"><%=@conversion_rate_b%> Complete (success)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="data-result-group <%= @thewinner_b? 'winner' : 'nowinner' %>">
        <h4 class="data-result-label"><strong>group B</strong> | conversion rate:</h4>
        <div class="row row-gutter-xs">
          <div class="col-xs-4">
            <p class="data-result-value"><%=@conversion_rate_b%>%</p>
          </div>
          <div class="col-xs-8">
            <div class="progress">
              <div class="progress-bar progress-bar-<%= @thewinner_b? 'success' : 'warning' %>" role="progressbar" aria-valuenow="<%=@conversion_rate_b%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@conversion_rate_b%>%">
                <span class="sr-only"><%=@conversion_rate_b%> Complete (success)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="data-result-group <%= @winner? 'haswinner' : 'hasnotwinner' %>">
        <h4 class="data-result-label">confidence interval:</h4>
        <div class="row row-gutter-xs">
          <div class="col-xs-4">
            <p class="data-result-value"><%=@function_confidenceInterval%></p>
          </div>
          <div class="col-xs-8">
            <div class="progress">
              <div class="progress-bar progress-bar-<%= @winner? 'info' : 'danger' %>" role="progressbar" aria-valuenow="<%=@function_confidenceInterval%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@function_confidenceInterval%>">
                <span class="sr-only"><%=@function_confidenceInterval%> Complete (success)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="lead">
  The probability the two concepts have the same conversion rate is around <strong><%= @vp_value_probality_same %>%</strong>.
  That is, there is about <strong><%= @vp_value_probality_diff %>%</strong> probability the two completion rates are different.
</p>

<hr class="spacer-sm invisible" />

<%= render partial: "chi_square/form" %>
<%= render partial: "chi_square/helper" %>

<p>This calculator can be used to interpret the results of a usability-oriented split (A/B) test. This is a basic scenario where you have two groups of Visitors (A & B) who each get to see one version of your website and for whom you track the number of Conversions or Goals (purchases, downloads, click-throughs, etc.).</p>
