<h2><%= @message %></h2>
<div class="data-result">
  <div class="row">
    <div class="col-md-4">
      <div class="data-result-group <%= @thewinner_a? 'winner' : 'nowinner' %>">
        <h4 class="data-result-label"><strong><%= t('ab_testing_calculator.form_calculator.label_group_a') %></strong> | <%= t('ab_testing_calculator.result_calculator.conversion_rate') %>:</h4>
        <div class="row row-gutter-xs">
          <div class="col-xs-4">
            <p class="data-result-value"><%=@conversion_rate_a%>%</p>
          </div>
          <div class="col-xs-8">
            <div class="progress">
              <div class="progress-bar progress-bar-<%= @thewinner_a? 'success' : 'warning' %>" role="progressbar" aria-valuenow="<%=@conversion_rate_a%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@conversion_rate_a%>%">
                <span class="sr-only"><%=@conversion_rate_b%> <%= t('ab_testing_calculator.result_calculator.complete_success') %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="data-result-group <%= @thewinner_b? 'winner' : 'nowinner' %>">
        <h4 class="data-result-label"><strong><%= t('ab_testing_calculator.form_calculator.label_group_b') %></strong> | <%= t('ab_testing_calculator.result_calculator.conversion_rate') %>:</h4>
        <div class="row row-gutter-xs">
          <div class="col-xs-4">
            <p class="data-result-value"><%=@conversion_rate_b%>%</p>
          </div>
          <div class="col-xs-8">
            <div class="progress">
              <div class="progress-bar progress-bar-<%= @thewinner_b? 'success' : 'warning' %>" role="progressbar" aria-valuenow="<%=@conversion_rate_b%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@conversion_rate_b%>%">
                <span class="sr-only"><%=@conversion_rate_b%> <%= t('ab_testing_calculator.result_calculator.complete_success') %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="data-result-group <%= @winner? 'haswinner' : 'hasnotwinner' %>">
        <h4 class="data-result-label"><%= t('ab_testing_calculator.result_calculator.confidence_interval') %>:</h4>
        <div class="row row-gutter-xs">
          <div class="col-xs-4">
            <p class="data-result-value"><%=@function_confidenceInterval%></p>
          </div>
          <div class="col-xs-8">
            <div class="progress">
              <div class="progress-bar progress-bar-<%= @winner? 'info' : 'warning' %>" role="progressbar" aria-valuenow="<%=@function_confidenceInterval%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@function_confidenceInterval%>">
                <span class="sr-only"><%=@function_confidenceInterval%> <%= t('ab_testing_calculator.result_calculator.complete_success') %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="lead"><%= t('ab_testing_calculator.result_calculator.probability_html', vp_value_probability_same: @vp_value_probability_same, vp_value_probability_diff: @vp_value_probability_diff) %></p>
<p class="lead"><%= t('ab_testing_calculator.result_calculator.expectation_html', thewinner: (@thewinner_a? 'A' : 'B'), thelooser: (@thewinner_a? 'B' : 'A'), expecBot: @expecBot, expecTop: @expecTop) %></p>

<hr class="spacer-sm invisible" />

<%= render partial: "chi_square/form" %>

<% if Rails.env.development? %>
  <%= render partial: "chi_square/helper" %>
<% end %>

<hr class="invisible" />
