<p class="lead"><%= t('ux_calculators.explanation') %></p>

<!-- #1 -->
<h2><%= t('ux_calculators.asks.type_data') %></h2>
<p><%= t('ux_calculators.asks.type_data_helper') %></p>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('ux_calculators.asks.type_data_bn_title') %></h3>
      </div>
      <div class="panel-body">
        <%= t('ux_calculators.asks.type_data_bn_explanation_html') %>
      </div>
      <div class="panel-footer">
        <%= link_to t('ux_calculators.asks.type_data_bn_btn'), uxcal_bn_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('ux_calculators.asks.type_data_cn_title') %></h3>
      </div>
      <div class="panel-body">
        <%= t('ux_calculators.asks.type_data_cn_explanation_html') %>
      </div>
      <div class="panel-footer">
        <%= link_to t('ux_calculators.asks.type_data_cn_btn'), uxcal_cn_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
</div>
