<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to site_index_path, class: 'navbar-brand' do %>
        <strong>blen</strong>box
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= active_tab('ux_calculators') %>"><%= link_to 'ux calculators', ux_calculators_path %></li>
        <li class="<%= active_tab('chi_square') %>"><%= link_to 'a/b testing calculator', chi_square_path %></li>
        <li class="<%= active_tab('fills_time') %>"><%= link_to 'ajudante folha ponto', fills_time_path %></li>
      </ul>
      <p class="navbar-text navbar-right">by <a href="//www.rodrigoquaresma.com.br" class="navbar-link">rodrigo quaresma</a></p>
    </div>
  </div>
</nav>
