<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="author" content="BlenBox">
  <title>BlenBox A/B Testing Calculator | Statistically Significant | Split Test | Confidence Interval</title>
  <meta name="description" content="Blenbox A/B Testing Calculator helps you to see if your data has achieved statistical significance. Helpful for usability tests and comparison between landing page conversion rates.">
  <meta name="keywords" content="A/B Testing Calculator, Statistically Significant, Split Test, Confidence Interval, usability, landing page, conversion rates, chi square formula">

  <meta property="og:title" content="BlenBox A/B Testing Calculator | Statistically Significant | Split Test | Confidence Interval">
  <meta property="og:description" content="Blenbox A/B Testing Calculator helps you to see if your data has achieved statistical significance. Helpful for usability tests and comparison between landing page conversion rates.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://blenbox.com/ab-testing-calculator">
  <meta property="og:site_name" content="Blenbox A/B Testing Calculator">

  <meta name="twitter:title" content="BlenBox A/B Testing Calculator | Statistically Significant | Split Test | Confidence Interval">
  <meta name="twitter:description" content="Blenbox A/B Testing Calculator helps you to see if your data has achieved statistical significance. Helpful for usability tests and comparison between landing page conversion rates.">
  <link rel="canonical" href="http://www.blenbox.com/ab-testing-calculator">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <% if Rails.env.production? %>
    <%= render partial: 'layouts/ga' %>
    <%= render partial: 'chi_square/ad' %>
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    'chi_square', media: 'all' %>
  <%= yield :head %>
</head>
<body data-no-turbolink >
  <%= render partial: "layouts/navbar" %>
  <div class="container">
    <h1>a/b testing calculator</h1>
    <p class="lead"><strong class="text-muted">confidence interval</strong> | find out if your a/b testing results are statistically significant</p>
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <%= yield :content %>
        <%= yield %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= yield :support %>
        <%= yield :adsense %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "chi_square" %>
  <%= yield :footer %>
</body>
</html>
