<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="rodrigo quaresma - interaction designer">
  <meta name="keywords" content="interaction design, rodrigo quaresma, design, brazil">
  <meta name="author" content="rodrigo quaresma">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <title>rodrigo quaresma - interaction designer</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:title" content="rodrigo quaresma - interaction designer" />
  <%= render partial: "layouts/ga" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    'fills_time', media: 'all' %>
  <%= yield :head %>
</head>
<body data-no-turbolink >
  <%= render partial: "layouts/navbar" %>
  <%= yield :content %>
  <%= yield %>
  <hr class="invisible" />
  <%= render partial: "fills_time/ad" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "fills_time" %>
  <%= yield :footer %>
</body>
</html>
