<!DOCTYPE html>
<html lang="<%= @parsed_locale_lang %>">
<head>
  <meta name="author" content="BlenBox - by rodrigo quaresma">
  <title><%= t('ux_calculators.head_meta.title') %></title>
  <meta name="description" content="<%= t('ux_calculators.head_meta.description') %>">
  <meta name="keywords" content="<%= t('ux_calculators.head_meta.keywords') %>">

  <meta property="og:title" content="<%= t('ux_calculators.head_meta.title') %>">
  <meta property="og:description" content="<%= t('ux_calculators.head_meta.description') %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://blenbox.com/ux-calculators">
  <meta property="og:site_name" content="<%= t('ux_calculators.head_meta.title') %>">

  <meta name="twitter:title" content="<%= t('ux_calculators.head_meta.title') %>">
  <meta name="twitter:description" content="<%= t('ux_calculators.head_meta.description') %>">
  <link rel="canonical" href="http://www.blenbox.com/ux-calculators">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <% if Rails.env.production? %>
    <%= render partial: 'layouts/ga' %>
    <%= render partial: "ux_calculators/ad" %>
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    'ux_calculators', media: 'all' %>
  <%= yield :head %>
</head>
<body data-no-turbolink >
  <%= render partial: "layouts/navbar" %>
  <div class="container">
    <h1><%= t('ux_calculators.title') %></h1>
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <%= yield :content %>
        <%= yield %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= yield :support %>
        <%= yield :adsense %>
      </div>
    </div>
    <%= render partial: "ux_calculators/reference" %>
  </div>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "ux_calculators" %>
  <%= yield :footer %>
</body>
</html>
